/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import "bootstrap";

$app-blue: #337ab7;

body {
  padding-top: 70px;
  background-color: rgba(117,117,121,0.04); }

hr {
  height: 1px;
  background-color: #ddd; }

.field_with_errors {
  color: #a94442;
  @extend .has-error; }

#error-explanation {
  color: #a94442;
  ul {
    color: #a94442;
    margin: 0 0 30px 0; }
}

.margin-sides-15 {
  margin-left: 15px;
  margin-right: 15px; }

.navbar {
  background-color: $app-blue;
  border-color: $app-blue;
  .navbar-brand,
  .navbar-brand:hover {
    color: #000; }
}

.side-bar {
  border-right: 1px solid #ddd;
  height: 500px; }

.panel-default > .panel-heading {
  background-color: $app-blue;
}

.list-group-item {
  .glyphicon { margin-right: 10px; }
}

.anchor-index-card {
  color: #555;
  &:hover {
    color: #555;
    text-decoration: none; }
}

.index-card {
  .glyphicon {
    margin-top: 10px;
    font-size: 20px;
    color: #555555; }
}

.td-buttons {
  width: 160px;
  .btn {
    margin-left: 5px;
    margin-right: 5px; }
}
